{% set java_package_name = schema["x-proto-options"]["java_package"][1:-1] -%}

# {{ schema.info.title }}
{% for channel_name, channel in schema.channels.items() %}
{% for operation_type in ['publish', 'subscribe'] %}
{% if operation_type not in channel %}{% continue %}{% endif %}
{% set operation = channel[operation_type] %}
{% set message = operation.message %}
{% if '$ref' in message %}
{% set message_name = message['$ref'].split('/')[-1] %}
{% set class_name = message | to_protobuf_type | to_pascal %}
{{ channel_name }}.{{ message_name }} = {{ java_package_name }}.{{ class_name }}
{% elif 'oneOf' in message %}
{% for sub_message in message.oneOf %}
{% if '$ref' not in sub_message %}{{ "'$ref' not found in sub_message[{}]".format(loop.index0) | raise }}{% endif %}
{% set message_name = sub_message['$ref'].split('/')[-1] %}
{% set class_name = sub_message | get_message_payload(schema) | to_protobuf_type | to_pascal %}
{{ channel_name }}.{{ message_name }} = {{ java_package_name }}.{{ class_name }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}